ul, li{
    margin:0;
    padding:0;
    list-style-type: none;
}

.Menu-layout{
    background-color: cadetblue;
    color: white;
    font-size: 2em;
    overflow: auto;
}

.Menu-layout>li{
    float:left;
    width:25%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}